.info {
     margin:auto;
     width: 40%;
     height: 30%;
     border: 2px #356ACA solid;
     color: #495058;
     font-size: 20px;
   }
.revise_pwd {
	margin-bottom: 30px;
}
.old_pwd {
     margin-top:3.5%;
     margin-left: 20%;
   }
.input_css {
	width: 50%;
	height: 11.5%;
	border: 2px solid #356ACA;
	border-radius: 15px;
	margin-left: 5%;
	font-size: 16px;
   }
.loginbut {
	width: 46%;
	height: 30px;
	margin-left: 7%;
	border-radius: 20px;
	background: #356aca;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	color: white;
}
.pen_img {
	display: inline-block;
	margin-left: 7%;
}
.update_p {
	display: inline-block;
	color: #0c2679;
   	 font-size: 16px;
   	 margin-left: 1%;
   	 font-weight: bold;
}
a {
	text-decoration:none;
}