.myorder {
	width: rem(640);
	height: rem(150);
	border: rem(1) #3096f8 solid;
	margin-top: rem(30);
	margin-left: 8%;
	background: #38b4fe;
}
.info_myorder {
	display: inline-block;
	width: rem(185);
	height: rem(150);
	background: #1f6ac7;
	text-align:center;
    line-height:rem(150);
    color: white;
}
.myorder1 {
	width: rem(640);
	height: rem(150);
	border: rem(1) #3096f8 solid;
	margin-top: rem(30);
	margin-left: 8%;
}
.info_myorder1 {
	display: inline-block;
	width: rem(185);
	height: rem(150);
	background: #1f6ac7;
}
.info_text {
	display: inline-block;
	width: rem(450);
}
