.butgreen {
	margin-top: rem(20);
    background-color: #1bcfc6;
    width: rem(160);
    height: rem(56);
    border-radius: rem(20);
    color: #fff;
    font-size: rem(30);
    line-height: rem(50);
	text-indent: 3%;
}
.butpupler {
	background-color: #a39fb5;
	width: rem(160);
    height: rem(56);
	border-radius: rem(20);
	color: #fff;
	font-size: rem(30);
	line-height: rem(50);
	text-indent: 3%;
}
.butjianbian {
    width: rem(160);
    height: rem(56);
    background: -prefix-linear-gradient(left, #00a3ea, #00ebcd);
    background: linear-gradient(to right, #00a3ea, #00ebcd);
    border-radius: rem(20);
	color: #fff;
	font-size: rem(30);
	line-height: rem(50);
	text-indent: 3%;
}
.butjianbian2 {
    width: rem(450);
    height: rem(73);
    background: -prefix-linear-gradient(left,#1f6ac7,#38b4fe);
    background: linear-gradient(to right,#1f6ac7,#38b4fe);
	color: #fff;
	font-size: rem(30);
	line-height: rem(50);
	text-indent: 3%;
    margin: 0 auto;
}
.butjianbian3 {
    width: rem(160);
    height: rem(56);
    background: -prefix-linear-gradient(left, #20B2AA, #00ebcd);
    background: linear-gradient(to right, #B0C4DE, #00ebcd);
    border-radius: rem(20);
	color: #fff;
	font-size: rem(30);
	line-height: rem(50);
	text-indent: 3%;
}
.butjianbian4 {
    width: rem(160);
    height: rem(56);
    background: -prefix-linear-gradient(left, #DA70D6, #FFDAB9);
    background: linear-gradient(to right, #FFDAB9, #DA70D6);
    border-radius: rem(20);
	color: #fff;
	font-size: rem(30);
	line-height: rem(50);
	text-indent: 3%;
}
.butjianbian5 {
    width: rem(160);
    height: rem(56);
    background: -webkit-linear-gradient(#DA70D6,#CC33FF);
    background: -o-linear-gradient(#DA70D6,#CC33FF);
    background: -moz-linear-gradient(#DA70D6,#CC33FF);
    background: -mos-linear-gradient(#DA70D6,#CC33FF);
    background: linear-gradient(#DA70D6,#CC33FF);
    border-radius: rem(20);
	color: #fff;
	font-size: rem(30);
	line-height: rem(50);
	text-indent: 3%;
}
.butgreen2 {
    width: 80%;
    height: rem(76);
    background: #00BFFF;
    color: #fff;
    font-size: rem(30);
    line-height: rem(50);
    margin: rem(10) auto;
}
.butgreen3 {
    width: 80%;
    height: rem(76);
    background: #00FF7F;
    color: #fff;
    font-size: rem(30);
    line-height: rem(50);
    margin: rem(10) auto;
    border-radius: rem(10);
}
.fanghui2 {
      margin:rem(100) auto;
      display: block;
      width: rem(150);
      height:rem(60);
      border-radius: rem(15);
      background-color: #a39fb5;
      font-size: rem(20);
      text-align: center;
      line-height:rem(60);
}
.butgreentc {
    width: 80%;
    height: rem(76);
    background: #1bcfc6;
    color: #fff;
    font-size: rem(30);
    line-height: rem(50);
    margin: rem(10) auto;
    border-radius: rem(15);
}
.ydbutton {
    width: 80%;
    height: rem(76);
    background: #FDBE00;
    color: black;
    font-size: rem(30);
    line-height: rem(50);
    margin: rem(10) auto;
    border-radius: rem(50);
}
.ydbutton2 {
    width: 80%;
    height: rem(76);
    background: #FDBE00;
    color: black;
    font-size: rem(30);
    line-height: rem(50);
    margin: rem(10) auto;
    border-radius: rem(15);
}

