.divcss {
	width: rem(600);
	height: rem(150);
	border: rem(1) #F0F0F0 solid;
	background-color: white;
	margin-left: rem(80);
	background-color: #fff;
    border-radius: rem(10);
    padding: 0 rem(30);
}
.divcssc {
   width: rem(100);
   border: rem(0) red solid;
   margin: rem(5) auto;
   line-height: rem(75);
}
.info_xt {
	width: rem(600);
	border: rem(1) #d3d4d5 solid;
}
.info_xt1 {
	width: rem(600);
	border: rem(1) #d3d4d5 solid;
}
.info_xt2 {
	width: rem(520);
	border: rem(1) #d3d4d5 solid;
}
.ydxhx {
	width: rem(600);
	border: rem(1) #987A1B solid;
}
