.inputcss {
	    margin-top: rem(20);
		background-color: white;
		height: rem(70);
		width:rem(440);
		line-height: rem(70);
		border-radius: rem(20);
		border: rem(1) solid #bdbdbd;
		font-size:rem(30);
		margin-left: rem(10);
}
.inputcss2 {
	    margin-top: rem(20);
		background-color: white;
		height: rem(70);
		width:rem(440);
		line-height: rem(70);
		border: rem(1) solid #bdbdbd;
		font-size:rem(30);
		margin-left: rem(10);
}
.info-input {
	   margin-top: rem(20);
		background-color: white;
		height: rem(70);
		width:rem(440);
		line-height: rem(70);
		border-radius: rem(15);
		border: rem(1) solid #bdbdbd;
		font-size:rem(30);
		margin-left: rem(10);
}
