.ztts {
	   display: inline-block;
		margin-left:rem(80);
		font-size: rem(30);
		width:rem(150);
 }
.font_name {
	display: inline-block;
	font-size: rem(30);
	width: rem(120);
	font-weight: bold;
}
.font_name1 {
	display: inline-block;
	font-size: rem(30);
	width: rem(200);
}
