.query_div {
    background: -webkit-linear-gradient(right, #00ebcd,#00a3ea);
    background: -o-linear-gradient(left,#00ebcd,#00a3ea);
    background: -moz-linear-gradient(right,#00ebcd,#00a3ea);
    background: linear-gradient(to left,#00ebcd,#00a3ea);
    height:rem(191);
    display:block;
    padding-top: rem(15);
    }
.city_switching {
    background:#0370a0;
    width:rem(260);
    border-radius:rem(10);
    margin-left:5%;
    height:rem(37);
     }
.dingweiimg {
    width:rem(33);
    height:rem(32);
    margin-left:5%;
    padding-bottom:rem(5);
    }
.citycss {
    font-size:rem(14);
    color:white;
    margin-left:8%;
    vertical-align:middle;
    }
.quer_buton {
    margin-top:rem(25);
    }
.input_css {
    display:inline-block;
    width:70%;
    height:rem(40);
    font-size:rem(14);
    background:white;
    margin-left:7%;
    border-radius:rem(10);
    }
.quer_anniu {
    width:rem(130);
    height:rem(40);
    font-size:rem(20);
    border-radius:rem(10);
    color:white;
    background: -webkit-linear-gradient(left, #16c7b1,#1699d0);
    background: -o-linear-gradient(right,#16c7b1,#1699d0);
    background: -moz-linear-gradient(right,#16c7b1,#1699d0);
    background: linear-gradient(to right,#16c7b1,#1699d0);
    margin:rem(3) -rem(20);
    padding-bottom:rem(5);
    }
 .mimgcheng {
    height:rem(60);
    margin-top:1%;
    }
.imgcss {
    width: rem(52);
    height: rem(42);
    margin-left:6%;
    }
.mingchegn {
    font-size:rem(18);
    margin-left:8%;
    width:rem(200);
    display:inline-block;
    width:rem(130);
    }
.inputcss {
    width:rem(300);
    height:rem(40);
    background:white;
    border-radius:rem(10);
    margin-left:8%;
    border:0;
    font-size:rem(18);
   }
.inputs {
    background:white;
    border-radius:rem(10);
    border:0;
    color:#e6e3e3;
    font-size:rem(18);
    }
 .selectt {
    width: rem(160);
    height:rem(40);
    margin-left:8%;
  }
  .selectt2 {
    width: rem(120);
    height:rem(40);
    margin-left:rem(18);
  }
.tishi {
   margin-left:rem(-40);
   font-size:rem(18);
   color:#e6e3e3;
   }
.sumbies {
   width:25%;
   height:45;
   margin:rem(100) auto;
   background:#00eacd;
   border-radius:rem(10);
}
.pingfan {
   font-size:rem(18);
   margin-left:28%;
   color: white;
}