.tite {
	padding-top: rem(70);
	font-size: rem(50);
	color: white;
	margin-left: 40%;
}
.userid {
	padding-top: rem(245);
	margin-left: 42%;
	font-size: rem(40);
}
.info_img {
	width: rem(49);
	height: rem(51);
}
.info_ck {
	margin-top: rem(40);
	padding-top: rem(20);
	width: rem(700);
	height: rem(80);
	border: rem(1) #3096f8 solid;
}
